// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inline-block_test {
    display: inline-block;      /* インラインブロック要素にする */
}

.up{
    position: relative;
    bottom:52px ;
    left: 10px;
}
